<div class="form__login__distribution">
    <mat-card class="example-card card__size">
        <mat-progress-bar mode="indeterminate" class="progres__bar"></mat-progress-bar>
        <mat-card-title>Buscar usuario por email</mat-card-title>
        <mat-card-content>
            <form class="form-horizontal" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()"
                id="loginform">
                <div class="form-group">
                    <label for="exampleInputEmail1"></label>
                    <input class="form-input" type="email" placeholder="ejemplo@gmail.com" formControlName="email"
                        class="form__input">
                </div>
                <button mat-raised-button color="accent" type="submit" routerLink='/results'
                    class="login__btn" (click)="submitForm()">Buscar</button>
            </form>
        </mat-card-content>
        <mat-progress-bar mode="indeterminate" class="progres__bar"></mat-progress-bar>
    </mat-card>
</div>